 # Logs
 logs
 *.log
 npm-debug.log*
 yarn-debug.log*
 yarn-error.log*
 pnpm-debug.log*
 lerna-debug.log*

 # Diagnostic reports
 report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

 # Runtime data
 pids
 *.pid
 *.seed
 *.pid.lock

 # Coverage and testing
 coverage
 *.lcov
 .nyc_output

 # Dependency directories
 node_modules/
 jspm_packages/
 bower_components
 .yarn/cache
 .yarn/unplugged
 .yarn/build-state.yml
 .yarn/install-state.gz
 .pnp.*

 # Build outputs
 dist
 .next
 .nuxt
 .vuepress/dist
 **/.vitepress/dist
 **/.vitepress/cache
 .docusaurus
 .serverless/

 # Cache directories
 .cache
 .parcel-cache
 .fusebox/
 .rpt2_cache/
 .rts2_cache_cjs/
 .rts2_cache_es/
 .rts2_cache_umd/

 # Environment variables
 .env
 .env.development.local
 .env.test.local
 .env.production.local
 .env.local

 # Editor and OS-specific files
 .vscode/*
 !.vscode/extensions.json
 .idea/
 .DS_Store
 Thumbs.db
 *.suo
 *.ntvs*
 *.njsproj
 *.sln
 *.sw?

 # Vercel
 .vercel

 # Other
 *.tgz
 .yarn-integrity
 .node_repl_history
 .lock-wscript
 build/Release
 lib-cov
 .temp
 .grunt
 .dynamodb/
 .tern-port
 .vscode-test